@model CSOB_Interview_WorkLogger.Models.WorkLogViewModel

@{
    ViewBag.Title = "Create Work Log";
    ViewBag.Action = "Create";
}

<h2>Create Work Log</h2>

@await Html.PartialAsync("WorkLogForm")
