@model CSOB_Interview_WorkLogger.Models.EditEmployeeViewModel

@{
    ViewData["Title"] = "Edit Zamestnanec";
}

<h1>Edit Zamestnanec</h1>

<h4>Zamestnanec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPosition" class="control-label"></label>
                <input asp-for="JobPosition" class="form-control" />
                <span asp-validation-for="JobPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnboardingDay" class="control-label"></label>
                <input asp-for="OnboardingDay" class="form-control" type="date" />
                <span asp-validation-for="OnboardingDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}